.MuiSnackbarContent-root {
    min-width: 344px !important;
    color: #fff;
    display: flex;
    padding: 6px 16px;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
    font-family: "Titillium Web" !important;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    letter-spacing: 0.25px;
    background-color: #3EBC94 !important;
}

.cerrar{
    font-family: "Titillium Web" !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF !important;
}